@media only screen and (max-width: 768px) {
  .footerActive {
    bottom: -68px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transition: transform 0.6s ease-out;
    -moz-transition: transform 0.6s ease-out;
  }
}
.tutorial-nav {
  background: linear-gradient(270deg, #fcf0f1, rgba(252, 240, 241, 0));
}
.sticky-tutorial {
  transform: translateY(36%);
  transition: transform 0.6s ease-out;
  top: 0;
}
@media only screen and (max-width: 768px) {
  .sticky-tutorial {
    transform: translateY(50%);
  }
}
.odometer.odometer-auto-theme,
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-default,
.odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme
  .odometer-digit
  .odometer-value.odometer-last-value,
.odometer.odometer-theme-default
  .odometer-digit
  .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating
  .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up.odometer-animating
  .odometer-ribbon-inner {
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating
  .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down.odometer-animating
  .odometer-ribbon-inner {
  transition: transform 2s;
  transform: translateY(0);
}
.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
  font-family: Helvetica Neue, sans-serif;
  line-height: 1.1em;
}
.odometer.odometer-auto-theme .odometer-value,
.odometer.odometer-theme-default .odometer-value {
  text-align: center;
}
.inline-widget-carousel-wrapper .slider-container {
  margin-top: calc(calc(var(--ug) * 1.25) * -1);
  margin-bottom: calc(calc(var(--ug) * 1.25) * -1);
  overflow: visible;
  padding-top: calc(var(--ug) * 1.25) !important;
  padding-bottom: calc(var(--ug) * 1.25) !important;
}
@media (min-width: 768px) {
  .inline-widget-carousel-wrapper .slider-container {
    margin-left: calc(calc(var(--ug) * 5) * -1);
    margin-right: calc(calc(var(--ug) * 5) * -1);
  }
}
.inline-widget-carousel-wrapper .slider-container {
  padding: 0 4.375rem;
}
.inline-widget-carousel-wrapper .slider-list {
  -moz-column-gap: calc(var(--ug) * 1.25);
  column-gap: calc(var(--ug) * 1.25);
}
@media (min-width: 768px) {
  .inline-widget-carousel-wrapper .slider-list {
    gap: 0;
  }
}
.inline-widget-carousel-wrapper .slide {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (min-width: 768px) {
  .inline-widget-carousel-wrapper .slide {
    padding-left: calc(var(--ug) * 0.625) !important;
    padding-right: calc(var(--ug) * 0.625) !important;
  }
}
.inline-widget-carousel-wrapper .slider-frame {
  overflow: hidden !important;
}
.inline-widget-carousel-wrapper .slide .shadow-card {
  box-shadow: none;
  border-radius: 16px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(245 245 245 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
@media (min-width: 768px) {
  .inline-widget-carousel-wrapper .slide-visible {
    opacity: 1 !important;
  }
}
.inline-widget-carousel-wrapper {
  margin-left: calc(calc(var(--ug) * 1.25) * -1);
  margin-right: calc(calc(var(--ug) * 1.25) * -1);
}
@media (min-width: 768px) {
  .inline-widget-carousel-wrapper {
    margin-left: calc(calc(var(--ug) * 0.75) * -1);
    margin-right: calc(calc(var(--ug) * 0.75) * -1);
  }
}
.inline-widget-carousel-wrapper .slider-frame {
  padding-left: calc(var(--ug) * 1.25);
  padding-right: calc(var(--ug) * 1.25);
}
@media (min-width: 768px) {
  .inline-widget-carousel-wrapper .slider-frame {
    padding-right: calc(var(--ug) * 0.75);
  }
}
.inline-widget-carousel-wrapper .slider-control-centerleft button {
  top: -0.7rem;
  padding: 0.25rem;
  left: 5.2rem;
}
.inline-widget-carousel-wrapper .slider-control-centerright button {
  top: -0.7rem;
  padding: 0.25rem;
  left: -5rem;
  font-size: 1rem;
}
.inline-widget-carousel-wrapper .slider-control-centerleft button i,
.inline-widget-carousel-wrapper .slider-control-centerright button i {
  font-size: calc(var(--ug) * 1.25);
  line-height: calc(var(--ug) * 1.25);
}
@media only screen and (max-width: 479px) {
  .inline-widget-carousel-wrapper .slider-container {
    padding-left: 0;
    padding-right: 0;
  }
  .inline-widget-carousel-wrapper.bottom-dots {
    position: absolute;
    top: 50%;
    margin: 0 !important;
    height: 100%;
    width: 100%;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .inline-widget-carousel-wrapper.bottom-dots .slider-container {
    display: flex;
    height: 100%;
    align-items: center;
    overflow: visible;
  }
  .inline-widget-carousel-wrapper.bottom-dots .slider-frame {
    padding: 0;
  }
  .inline-widget-carousel-wrapper.bottom-dots .slider-list {
    gap: 0;
  }
}
.sticky-form {
  position: fixed;
  top: 0;
  right: var(--right);
  transform: translateY(2%);
  -webkit-transform: translateY(2%);
  -moz-transform: translateY(2%);
  transition: transform 0.6s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out;
}
.sticky-playlist {
  position: fixed;
  top: 0;
  display: block;
}
@media (min-width: 320px) {
  .sticky-playlist {
    left: 0;
    right: 0;
  }
}
@media (min-width: 768px) {
  .sticky-playlist {
    left: auto;
    right: auto;
  }
}
.sticky-playlist {
  transform: translateY(2%);
  -webkit-transform: translateY(2%);
  -moz-transform: translateY(2%);
  transition: transform 0.6s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out;
}
.sticky-form-bottom {
  right: 0;
}
.sticky-form-bottom,
.sticky-playlist-bottom {
  position: absolute;
  bottom: calc(var(--ug) * 0.625);
  transform: translateY(2%);
  -webkit-transform: translateY(2%);
  -moz-transform: translateY(2%);
  transition: transform 0.6s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out;
}
.sticky-playlist-bottom {
  left: 0;
}
.blog-editor-content {
  margin: 0;
  padding: 0;
}
.blog-editor-content:first-child {
  margin-top: calc(var(--ug) * 1.25);
}
.blog-editor-content .CertTheme__paragraph {
  padding-bottom: calc(var(--ug) * 1.5);
  --tw-text-opacity: 1;
  color: rgb(var(--greyscale-2) / var(--tw-text-opacity));
}
.blog-editor-content .CertTheme__paragraph:last-child {
  padding-bottom: 0;
}
.blog-editor-content .CertTheme__paragraph img {
  margin: auto;
}
.blog-editor-content .CertTheme__h2 {
  padding-bottom: calc(var(--ug) * 0.625) !important;
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}
.blog-editor-content .CertTheme__h2,
.blog-editor-content .CertTheme__h3 {
  margin: 0;
  --tw-text-opacity: 1;
  color: rgb(var(--greyscale-main) / var(--tw-text-opacity));
}
.blog-editor-content .CertTheme__h3 {
  padding-bottom: calc(var(--ug) * 1.5) !important;
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
}
.blog-editor-content .CertTheme__ol1 .CertTheme__listItem {
  font-size: 1rem !important;
  line-height: 1.375rem !important;
  --tw-text-opacity: 1 !important;
  color: rgb(var(--greyscale-2) / var(--tw-text-opacity)) !important;
}
.blog-editor-content .CertTheme__ol1 {
  margin-bottom: 0 !important;
}
.blog-editor-content .CertTheme__ol1 .CertTheme__listItem:last-child {
  margin-bottom: 0 !important;
  padding-bottom: calc(var(--ug) * 1.5) !important;
}
.blog-editor-content h2,
.blog-editor-content p {
  margin: 0;
  padding: 0;
}
.blog-editor-content .CertTheme__table {
  width: inherit !important;
}
.blog-editor-content pre {
  white-space: pre-wrap;
}
.blog-editor-content .CertTheme__textCode {
  background-color: transparent !important;
}
.left-gradient {
  background: linear-gradient(-90deg, hsla(0, 0%, 100%, 0), #fff 60.23%);
}
.right-gradient {
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 60.16%);
}
.loop-slider .inner {
  display: flex;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 22s;
}
.loop-slider .inner,
.swiperjh {
  width: -moz-max-content;
  width: max-content;
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.dropdown label {
  --tw-translate-y: 0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-size: 0.875rem !important;
  line-height: 1.125rem !important;
}
.dropdown label:after {
  --tw-text-opacity: 1;
  color: rgb(var(--primary-main) / var(--tw-text-opacity));
  --tw-content: "*";
  content: var(--tw-content);
}
.input-ctn:not(:-moz-placeholder-shown) + label {
  font-weight: 500;
}
.input-ctn:active + label,
.input-ctn:focus + label,
.input-ctn:not(:placeholder-shown) + label {
  font-weight: 500;
}
.dropdown > span:not(:empty) + label {
  font-weight: 500 !important;
}
.tnc-text .CertTheme__link {
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(var(--greyscale-main) / var(--tw-text-opacity));
  text-decoration-line: underline;
}
@media (min-width: 320px) {
  .tnc-text .CertTheme__link {
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    letter-spacing: -0.122px;
  }
}
@media (min-width: 768px) {
  .tnc-text .CertTheme__link {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    letter-spacing: -0.12px;
  }
}
.tnc-text .CertTheme__paragraph {
  --tw-text-opacity: 1;
  color: rgb(var(--greyscale-2) / var(--tw-text-opacity));
}
@media (min-width: 320px) {
  .tnc-text .CertTheme__paragraph {
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    letter-spacing: -0.122px;
  }
}
@media (min-width: 768px) {
  .tnc-text .CertTheme__paragraph {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    letter-spacing: -0.12px;
  }
}
.dropdownspan span {
  width: 100%;
  text-align: left;
}
@media (min-width: 768px) {
  .dropdownspan span {
    width: 18.438rem;
  }
}
.code_bg {
  background-color: #fbf5fb;
}
.code_border_color {
  --tw-border-opacity: 1;
  border-color: rgb(143 26 36 / var(--tw-border-opacity));
}
.code_color {
  --tw-text-opacity: 1;
  color: rgb(143 26 36 / var(--tw-text-opacity));
}
@keyframes bounce {
  0%,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
}
.dot1,
.dot2,
.dot3 {
  background-color: #6a11b0;
  border-radius: 50%;
  margin: 0.25rem;
  animation: bounce 1s infinite;
}
.dot2 {
  animation-delay: 0.2s;
  background-color: #b584db;
}
.dot3 {
  animation-delay: 0.4s;
  background-color: #e1c9f5;
}
.isFixed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sticky-filter {
  padding-left: calc(var(--ug) * 1.25);
  padding-right: calc(var(--ug) * 1.25);
  top: -6px;
  transform: translateY(100%);
}
.sticky-filter,
.sticky-tutorial {
  position: fixed;
  --tw-shadow: 0px 12px 28px 0px rgba(36, 7, 70, 0.06);
  --tw-shadow-colored: 0px 12px 28px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: transform 0.6s ease-in-out;
}
.sticky-tutorial {
  transform: translateY(0);
}
.StickyHeader_stickyHeaderArrow__kKIzV {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 60.16%);
}
.showHeader {
  transform: translateY(36%);
  transition: transform 0.6s ease-out;
  top: -20px;
}
@media only screen and (max-width: 768px) {
  .showHeader {
    transform: translateY(50%);
  }
}
.classColor P span {
  color: #666 !important;
}
.lpheader {
  display: none;
}
.showLPHeader {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  transition: position 0.6s ease-out;
}
.lpheader-mobile {
  display: none;
}
.showLPHeaderMobile {
  display: block;
}
