.InputBoxV2_wrapper__bzC7m {
  position: relative;
}
.InputBoxV2_label___o_3k {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.00533333em;
  padding: 0 4px;
  position: absolute;
  left: 12px;
  top: 9px;
  background: #fff;
  color: #b4bac4;
  pointer-events: none;
  transition: top 0.2s ease-out;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .InputBoxV2_label___o_3k {
    font-size: 14px;
    line-height: 24px;
  }
}
.InputBoxV2_input__wjKcj {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.00533333em;
  background-color: #fff;
  width: 100%;
  height: 44px;
  padding: 8px 14px;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  color: #1a202c;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .InputBoxV2_input__wjKcj {
    font-size: 14px;
    line-height: 24px;
  }
}
.InputBoxV2_input__wjKcj::-moz-placeholder {
  color: transparent;
}
.InputBoxV2_input__wjKcj::placeholder {
  color: transparent;
}
.InputBoxV2_input__wjKcj:not(:-moz-placeholder-shown) {
  border-color: #4a5568;
  outline: none;
  box-shadow: none;
}
.InputBoxV2_input__wjKcj:active,
.InputBoxV2_input__wjKcj:focus,
.InputBoxV2_input__wjKcj:not(:placeholder-shown) {
  border-color: #4a5568;
  outline: none;
  box-shadow: none;
}
.InputBoxV2_input__wjKcj:not(:-moz-placeholder-shown)
  + .InputBoxV2_label___o_3k {
  display: block;
  top: -10px !important;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.004em;
  color: #4a5568;
}
.InputBoxV2_input__wjKcj:active + .InputBoxV2_label___o_3k,
.InputBoxV2_input__wjKcj:focus + .InputBoxV2_label___o_3k,
.InputBoxV2_input__wjKcj:not(:placeholder-shown) + .InputBoxV2_label___o_3k {
  display: block;
  top: -10px !important;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.004em;
  color: #4a5568;
}
.InputBoxV2_input__wjKcj:-webkit-autofill,
.InputBoxV2_input__wjKcj:-webkit-autofill:active,
.InputBoxV2_input__wjKcj:-webkit-autofill:focus,
.InputBoxV2_input__wjKcj:-webkit-autofill:hover {
  box-shadow: inset 0 0 0 30px #fff !important;
}
.InputBoxV2_input__wjKcj:disabled {
  background-color: #dfe1e6;
  box-shadow: none;
  color: #b4bac4;
  pointer-events: none;
}
.InputBoxV2_input__wjKcj.InputBoxV2_hasError__r12eO {
  border-color: #e95454;
  color: #e95454;
  outline: none;
}
.InputBoxV2_input__wjKcj.InputBoxV2_hasError__r12eO + .InputBoxV2_label___o_3k {
  color: #e95454;
}
.InputBoxV2_input__wjKcj:-moz-read-only ~ span {
  display: block;
  color: #028d5e;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.00466667em;
  margin-top: 8px;
}
.InputBoxV2_input__wjKcj:read-only ~ span {
  display: block;
  color: #028d5e;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.00466667em;
  margin-top: 8px;
}
.InputBoxV2_error__pKgbR {
  margin-top: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #e95454;
}
.CountrySelection_current__JJdIt {
  display: flex;
  gap: 6px;
  align-items: center;
  padding-right: 6px;
  border-right: 1px solid #dfe1e6;
  cursor: pointer;
}
.CountrySelection_current__flag__1BOlE {
  scale: 0.6;
}
.CountrySelection_current__code__viTPN {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.00533333em;
  color: #4a5568;
}
.CountrySelection_current__arrow__NxrTa {
  width: 24px;
  height: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CountrySelection_current__arrow__NxrTa:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-color: #1a202c;
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  transform: translateY(-1px) rotate(45deg);
}
.CountrySelection_error__kbh9N > span {
  color: #e95454;
}
.CountrySelection_error__kbh9N > div:before {
  border-color: #e95454;
}
.CountrySelection_drawer__MgBDx {
  position: absolute;
  top: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  width: 100%;
  left: 0;
  border-radius: 8px;
  background-color: #fafbfc;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .CountrySelection_drawer__MgBDx {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    animation: CountrySelection_slide-up__al3wg 0.3s ease;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.CountrySelection_overlay__4mRAa {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .CountrySelection_overlay__4mRAa {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
}
.CountrySelection_dropdown__hlDu8 {
  padding: 20px 20px 0;
}
.CountrySelection_dropdown__search__XPJtc {
  background: #fff;
  border: 2px solid #dfe1e6;
  padding: 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.CountrySelection_dropdown__search__XPJtc > svg {
  color: #b4bac4;
}
.CountrySelection_dropdown__search__input__Odfys {
  flex: 1;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background: none;
  line-height: 24px;
  color: #4a5568;
}
.CountrySelection_dropdown__search__input__Odfys::-moz-placeholder {
  color: #b4bac4;
}
.CountrySelection_dropdown__search__input__Odfys::placeholder {
  color: #b4bac4;
}
.CountrySelection_list__Pa6RE {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden auto;
  height: 200px;
  padding: 0 10px 10px;
  margin: 8px 10px;
}
.CountrySelection_list__Pa6RE::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
}
.CountrySelection_list__Pa6RE::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #4a5568;
}
.CountrySelection_list__Pa6RE::-webkit-scrollbar-track {
  background-color: #b4bac4;
  border-radius: 3px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .CountrySelection_list__Pa6RE {
    height: 70vh;
  }
}
.CountrySelection_item__GC3c7 {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  background: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.CountrySelection_item__GC3c7:active,
.CountrySelection_item__GC3c7:focus,
.CountrySelection_item__GC3c7:hover {
  background: #fff;
}
.CountrySelection_item__flag__G_bdH {
  width: 28px;
  height: 20px;
  border-radius: 2px;
  flex-shrink: 0;
}
.CountrySelection_item__name__DGa2X {
  letter-spacing: -0.00533333em;
  color: #1a202c;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.CountrySelection_item__code__2Rr3T {
  letter-spacing: -0.00533333em;
  color: #7c8698;
}
@keyframes CountrySelection_slide-up__al3wg {
  0% {
    transform: translateY(200px);
  }
}
.flags_ad__9lld7 {
  background: url(../media/flags.e6454ac1.png) 0 0;
}
.flags_ae__jJ5gh {
  background: url(/images/flags.e6454ac1.png) -28px 0;
}
.flags_af__2cicQ {
  background: url(/images/flags.e6454ac1.png) 0 -20px;
}
.flags_ag__NKCgB {
  background: url(/images/flags.e6454ac1.png) -28px -20px;
}
.flags_ai__FVBZx {
  background: url(/images/flags.e6454ac1.png) -56px 0;
}
.flags_al__0jzpT {
  background: url(/images/flags.e6454ac1.png) -56px -20px;
}
.flags_am__S6xmM {
  background: url(/images/flags.e6454ac1.png) 0 -40px;
}
.flags_an__MWTyw {
  background: url(/images/flags.e6454ac1.png) -28px -40px;
}
.flags_ao__Pn_Bt {
  background: url(/images/flags.e6454ac1.png) -56px -40px;
}
.flags_ar__3uw_X {
  background: url(/images/flags.e6454ac1.png) 0 -60px;
}
.flags_at__YYwgn {
  background: url(/images/flags.e6454ac1.png) -28px -60px;
}
.flags_au__y9cPq,
.flags_cc__VhOvm,
.flags_cx__dzZbt,
.flags_nf__0u7r2 {
  background: url(/images/flags.e6454ac1.png) -56px -60px;
}
.flags_ax__3zw6C {
  background: url(/images/flags.e6454ac1.png) -84px 0;
}
.flags_aw__Mq5UE {
  background: url(/images/flags.e6454ac1.png) -84px -20px;
}
.flags_az__SgbZi {
  background: url(/images/flags.e6454ac1.png) -84px -40px;
}
.flags_ba__4p_8_ {
  background: url(/images/flags.e6454ac1.png) -84px -60px;
}
.flags_bb__GM6BZ {
  background: url(/images/flags.e6454ac1.png) 0 -80px;
}
.flags_bd__yA7sG {
  background: url(/images/flags.e6454ac1.png) -28px -80px;
}
.flags_be__Rte_q {
  background: url(/images/flags.e6454ac1.png) -56px -80px;
}
.flags_bf__uInkY {
  background: url(/images/flags.e6454ac1.png) -84px -80px;
}
.flags_bg__2khor {
  background: url(/images/flags.e6454ac1.png) -112px 0;
}
.flags_bh__hOtel {
  background: url(/images/flags.e6454ac1.png) -112px -20px;
}
.flags_bi__JnFjb {
  background: url(/images/flags.e6454ac1.png) -112px -40px;
}
.flags_bj__bVT0Z {
  background: url(/images/flags.e6454ac1.png) -112px -60px;
}
.flags_bm__KsXzC {
  background: url(/images/flags.e6454ac1.png) -112px -80px;
}
.flags_bn__jnvJE {
  background: url(/images/flags.e6454ac1.png) 0 -100px;
}
.flags_bo__M7IjO {
  background: url(/images/flags.e6454ac1.png) -28px -100px;
}
.flags_br__C7uZZ {
  background: url(/images/flags.e6454ac1.png) -56px -100px;
}
.flags_bs__9dUfw {
  background: url(/images/flags.e6454ac1.png) -84px -100px;
}
.flags_bt__CmRNc {
  background: url(/images/flags.e6454ac1.png) -112px -100px;
}
.flags_bw__7mpdh {
  background: url(/images/flags.e6454ac1.png) 0 -120px;
}
.flags_by__Zz8kB {
  background: url(/images/flags.e6454ac1.png) -28px -120px;
}
.flags_bz__OFHwt {
  background: url(/images/flags.e6454ac1.png) -56px -120px;
}
.flags_ca__z8A_b {
  background: url(/images/flags.e6454ac1.png) -84px -120px;
}
.flags_caf__JF7UY,
.flags_eh__lI6tG {
  background: url(/images/flags.e6454ac1.png) -112px -120px;
}
.flags_cas__2OpRL {
  background: url(/images/flags.e6454ac1.png) -140px 0;
}
.flags_cd__fyqQb {
  background: url(/images/flags.e6454ac1.png) -140px -20px;
}
.flags_ceu__vSE_Y,
.flags_va__PKSwx,
.flags_xk__JlLYk {
  background: url(/images/flags.e6454ac1.png) -140px -40px;
}
.flags_cf__b_ya0 {
  background: url(/images/flags.e6454ac1.png) -140px -60px;
}
.flags_cg__Zeqct {
  background: url(/images/flags.e6454ac1.png) -140px -80px;
}
.flags_ch__delzx {
  background: url(/images/flags.e6454ac1.png) -140px -100px;
}
.flags_ci__wXH91 {
  background: url(/images/flags.e6454ac1.png) -140px -120px;
}
.flags_cl__fypyk {
  background: url(/images/flags.e6454ac1.png) 0 -140px;
}
.flags_cm__JUkdF {
  background: url(/images/flags.e6454ac1.png) -28px -140px;
}
.flags_cn__eQzQH {
  background: url(/images/flags.e6454ac1.png) -56px -140px;
}
.flags_as__up8Nf,
.flags_cna__MjGyj,
.flags_gl__Qk0mm,
.flags_gu__UuUd1 {
  background: url(/images/flags.e6454ac1.png) -84px -140px;
}
.flags_co__7cZSy {
  background: url(/images/flags.e6454ac1.png) -112px -140px;
}
.flags_coc__hxPA2,
.flags_ki__LQCSv,
.flags_mh__lwN16,
.flags_mp__YAQC4,
.flags_nr__uH2dx,
.flags_tv__QZABx {
  background: url(/images/flags.e6454ac1.png) -140px -140px;
}
.flags_cr__aMr5K {
  background: url(/images/flags.e6454ac1.png) -168px 0;
}
.flags_csa__fhFlp {
  background: url(/images/flags.e6454ac1.png) -168px -20px;
}
.flags_cu__doz5V {
  background: url(/images/flags.e6454ac1.png) -168px -40px;
}
.flags_cv__rVUjq {
  background: url(/images/flags.e6454ac1.png) -168px -60px;
}
.flags_cy___ZCcp {
  background: url(/images/flags.e6454ac1.png) -168px -80px;
}
.flags_cz__jPree {
  background: url(/images/flags.e6454ac1.png) -168px -100px;
}
.flags_de__bTlRd {
  background: url(/images/flags.e6454ac1.png) -168px -120px;
}
.flags_dj__vtoRz {
  background: url(/images/flags.e6454ac1.png) -168px -140px;
}
.flags_dk__zAbpo,
.flags_fo__oBuKw {
  background: url(/images/flags.e6454ac1.png) 0 -160px;
}
.flags_dm__EEHjK {
  background: url(/images/flags.e6454ac1.png) -28px -160px;
}
.flags_do__29jQe {
  background: url(/images/flags.e6454ac1.png) -56px -160px;
}
.flags_dz__KlVbC {
  background: url(/images/flags.e6454ac1.png) -84px -160px;
}
.flags_ec__sSOhh {
  background: url(/images/flags.e6454ac1.png) -112px -160px;
}
.flags_eg__V40Og {
  background: url(/images/flags.e6454ac1.png) -140px -160px;
}
.flags_ee__0M97L {
  background: url(/images/flags.e6454ac1.png) -168px -160px;
}
.flags_er__5hKod {
  background: url(/images/flags.e6454ac1.png) -196px 0;
}
.flags_es__34Ha4 {
  background: url(/images/flags.e6454ac1.png) -196px -20px;
}
.flags_et__EZhRF {
  background: url(/images/flags.e6454ac1.png) -196px -40px;
}
.flags_eu__1bBxL {
  background: url(/images/flags.e6454ac1.png) -196px -60px;
}
.flags_fi__tpbRN {
  background: url(/images/flags.e6454ac1.png) -196px -80px;
}
.flags_fj__Gw5Lg {
  background: url(/images/flags.e6454ac1.png) -196px -100px;
}
.flags_fk__Vzi7Q {
  background: url(/images/flags.e6454ac1.png) -196px -120px;
}
.flags_bl__c20WX,
.flags_fr__yO53A,
.flags_gf__OtzYD,
.flags_gp__pcJpO,
.flags_mq__WSFYV,
.flags_nc__Ho3DJ,
.flags_pm__xnyCy,
.flags_re__vftic,
.flags_wf__toeRW,
.flags_yt__YsCiy {
  background: url(/images/flags.e6454ac1.png) -196px -140px;
}
.flags_ga___Nyh6 {
  background: url(/images/flags.e6454ac1.png) -196px -160px;
}
.flags_gb__aNX_o,
.flags_io__Bz7uK {
  background: url(/images/flags.e6454ac1.png) 0 -180px;
}
.flags_fm__v6JTO {
  background: url(/images/flags.e6454ac1.png) -28px -180px;
}
.flags_gd__oImnt {
  background: url(/images/flags.e6454ac1.png) -56px -180px;
}
.flags_ge__0Ve_i {
  background: url(/images/flags.e6454ac1.png) -84px -180px;
}
.flags_gg__Ze_ZE {
  background: url(/images/flags.e6454ac1.png) -112px -180px;
}
.flags_gh__jc2yf {
  background: url(/images/flags.e6454ac1.png) -140px -180px;
}
.flags_gi__13zOp {
  background: url(/images/flags.e6454ac1.png) -168px -180px;
}
.flags_gm__5WER1 {
  background: url(/images/flags.e6454ac1.png) -196px -180px;
}
.flags_gn__dPqSY {
  background: url(/images/flags.e6454ac1.png) 0 -200px;
}
.flags_gq__QvJGr {
  background: url(/images/flags.e6454ac1.png) -28px -200px;
}
.flags_gr__u41WH {
  background: url(/images/flags.e6454ac1.png) -56px -200px;
}
.flags_gt__C0JeD {
  background: url(/images/flags.e6454ac1.png) -84px -200px;
}
.flags_gw__rSO8w {
  background: url(/images/flags.e6454ac1.png) -112px -200px;
}
.flags_gy__Td6v8 {
  background: url(/images/flags.e6454ac1.png) -140px -200px;
}
.flags_hk__lJaym {
  background: url(/images/flags.e6454ac1.png) -168px -200px;
}
.flags_hn__jQ4F3 {
  background: url(/images/flags.e6454ac1.png) -196px -200px;
}
.flags_hr__XkZ46 {
  background: url(/images/flags.e6454ac1.png) -224px 0;
}
.flags_ht__tyck7 {
  background: url(/images/flags.e6454ac1.png) -224px -20px;
}
.flags_hu__E_pS0 {
  background: url(/images/flags.e6454ac1.png) -224px -40px;
}
.flags_id__pOZfg {
  background: url(/images/flags.e6454ac1.png) -224px -60px;
}
.flags_ie__AH5vG {
  background: url(/images/flags.e6454ac1.png) -224px -80px;
}
.flags_il__2RAUh {
  background: url(/images/flags.e6454ac1.png) -224px -100px;
}
.flags_im___9II_ {
  background: url(/images/flags.e6454ac1.png) -224px -120px;
}
.flags_in__HGHlW {
  background: url(/images/flags.e6454ac1.png) -224px -140px;
}
.flags_iq___ukHG {
  background: url(/images/flags.e6454ac1.png) -224px -160px;
}
.flags_ir__KmGK0 {
  background: url(/images/flags.e6454ac1.png) -224px -180px;
}
.flags_is__lIlYw {
  background: url(/images/flags.e6454ac1.png) -224px -200px;
}
.flags_it__hiSPM {
  background: url(/images/flags.e6454ac1.png) 0 -220px;
}
.flags_je__Qar7m {
  background: url(/images/flags.e6454ac1.png) -28px -220px;
}
.flags_jm__vJv9Z {
  background: url(/images/flags.e6454ac1.png) -56px -220px;
}
.flags_jo__ovH9c,
.flags_ps__FHA0M {
  background: url(/images/flags.e6454ac1.png) -84px -220px;
}
.flags_jp__lSo0C {
  background: url(/images/flags.e6454ac1.png) -112px -220px;
}
.flags_ke__ts1un {
  background: url(/images/flags.e6454ac1.png) -140px -220px;
}
.flags_kg__vWk6A {
  background: url(/images/flags.e6454ac1.png) -168px -220px;
}
.flags_kh__3wy1J {
  background: url(/images/flags.e6454ac1.png) -196px -220px;
}
.flags_km__rkCmj {
  background: url(/images/flags.e6454ac1.png) -224px -220px;
}
.flags_kn__PR_TE {
  background: url(/images/flags.e6454ac1.png) -252px 0;
}
.flags_kp__HdEq2 {
  background: url(/images/flags.e6454ac1.png) -252px -20px;
}
.flags_kr__QaRzd {
  background: url(/images/flags.e6454ac1.png) -252px -40px;
}
.flags_kw__0ASkc {
  background: url(/images/flags.e6454ac1.png) -252px -60px;
}
.flags_ky__U4pg6 {
  background: url(/images/flags.e6454ac1.png) -252px -80px;
}
.flags_kz__ciJuW {
  background: url(/images/flags.e6454ac1.png) -252px -100px;
}
.flags_la__JvhCO {
  background: url(/images/flags.e6454ac1.png) -252px -120px;
}
.flags_lb__HundF {
  background: url(/images/flags.e6454ac1.png) -252px -140px;
}
.flags_lc__S4DBk {
  background: url(/images/flags.e6454ac1.png) -252px -160px;
}
.flags_li__O9GxK {
  background: url(/images/flags.e6454ac1.png) -252px -180px;
}
.flags_lk__a_YJX {
  background: url(/images/flags.e6454ac1.png) -252px -200px;
}
.flags_lr__itjfe {
  background: url(/images/flags.e6454ac1.png) -252px -220px;
}
.flags_ls__HGxB8 {
  background: url(/images/flags.e6454ac1.png) 0 -240px;
}
.flags_lt__BGtBd {
  background: url(/images/flags.e6454ac1.png) -28px -240px;
}
.flags_lu__uX_oJ {
  background: url(/images/flags.e6454ac1.png) -56px -240px;
}
.flags_lv__kzx28 {
  background: url(/images/flags.e6454ac1.png) -84px -240px;
}
.flags_ly__tmQxv {
  background: url(/images/flags.e6454ac1.png) -112px -240px;
}
.flags_ma__o2mFv {
  background: url(/images/flags.e6454ac1.png) -140px -240px;
}
.flags_mc__In_Fs {
  background: url(/images/flags.e6454ac1.png) -168px -240px;
}
.flags_md__ooBgS {
  background: url(/images/flags.e6454ac1.png) -196px -240px;
}
.flags_me__JXLQF {
  background: url(/images/flags.e6454ac1.png) -224px -240px;
}
.flags_mg___gHMx {
  background: url(/images/flags.e6454ac1.png) -252px -240px;
}
.flags_mk__QS7n3 {
  background: url(/images/flags.e6454ac1.png) 0 -260px;
}
.flags_ml__wxwRA {
  background: url(/images/flags.e6454ac1.png) -28px -260px;
}
.flags_mm__Ft0Rn {
  background: url(/images/flags.e6454ac1.png) -56px -260px;
}
.flags_mn__5zPmQ {
  background: url(/images/flags.e6454ac1.png) -84px -260px;
}
.flags_mo__9rDil {
  background: url(/images/flags.e6454ac1.png) -112px -260px;
}
.flags_mr__IGPLg {
  background: url(/images/flags.e6454ac1.png) -140px -260px;
}
.flags_ms__37z4u {
  background: url(/images/flags.e6454ac1.png) -168px -260px;
}
.flags_mt__rQFeW {
  background: url(/images/flags.e6454ac1.png) -196px -260px;
}
.flags_mu__x9cDM {
  background: url(/images/flags.e6454ac1.png) -224px -260px;
}
.flags_mv__TLeHc {
  background: url(/images/flags.e6454ac1.png) -252px -260px;
}
.flags_mw___aN8X {
  background: url(/images/flags.e6454ac1.png) -280px 0;
}
.flags_mx__NCzlp {
  background: url(/images/flags.e6454ac1.png) -280px -20px;
}
.flags_my__torGn {
  background: url(/images/flags.e6454ac1.png) -280px -40px;
}
.flags_mz__sXQnl {
  background: url(/images/flags.e6454ac1.png) -280px -60px;
}
.flags_na__wM_Wc {
  background: url(/images/flags.e6454ac1.png) -280px -80px;
}
.flags_ne__rmh5U {
  background: url(/images/flags.e6454ac1.png) -280px -100px;
}
.flags_ng__T6nQg {
  background: url(/images/flags.e6454ac1.png) -280px -120px;
}
.flags_ni__tpyOr {
  background: url(/images/flags.e6454ac1.png) -280px -140px;
}
.flags_bq__dyMzp,
.flags_cw__YMC89,
.flags_mf__lr49R,
.flags_nl__xs5Gx,
.flags_sx__j9oDF {
  background: url(/images/flags.e6454ac1.png) -280px -160px;
}
.flags_no__0hCbT,
.flags_sj__GGdvD {
  background: url(/images/flags.e6454ac1.png) -280px -180px;
}
.flags_np__Z0Sj4 {
  background: url(/images/flags.e6454ac1.png) -280px -200px;
}
.flags_ck__BvKaL,
.flags_nu__r3sZs,
.flags_nz__tryMF,
.flags_tk__HELdd {
  background: url(/images/flags.e6454ac1.png) -280px -220px;
}
.flags_om__DxJ9T {
  background: url(/images/flags.e6454ac1.png) -280px -240px;
}
.flags_pa__5aaa3 {
  background: url(/images/flags.e6454ac1.png) -280px -260px;
}
.flags_pe__x7lfI {
  background: url(/images/flags.e6454ac1.png) 0 -280px;
}
.flags_pf__o9dnE {
  background: url(/images/flags.e6454ac1.png) -28px -280px;
}
.flags_pg__C2l6v {
  background: url(/images/flags.e6454ac1.png) -56px -280px;
}
.flags_ph__eQP1D {
  background: url(/images/flags.e6454ac1.png) -84px -280px;
}
.flags_pk__ydx_U {
  background: url(/images/flags.e6454ac1.png) -112px -280px;
}
.flags_pl__lw0F5 {
  background: url(/images/flags.e6454ac1.png) -140px -280px;
}
.flags_pr__dVPWW {
  background: url(/images/flags.e6454ac1.png) -168px -280px;
}
.flags_pt__mQiq9 {
  background: url(/images/flags.e6454ac1.png) -196px -280px;
}
.flags_pw__wrovI {
  background: url(/images/flags.e6454ac1.png) -224px -280px;
}
.flags_py__mOYjm {
  background: url(/images/flags.e6454ac1.png) -252px -280px;
}
.flags_qa__gihxf {
  background: url(/images/flags.e6454ac1.png) -280px -280px;
}
.flags_ro__5xpK_ {
  background: url(/images/flags.e6454ac1.png) -308px 0;
}
.flags_rs__UMNwb {
  background: url(/images/flags.e6454ac1.png) -308px -20px;
}
.flags_ru__o5_4l {
  background: url(/images/flags.e6454ac1.png) -308px -40px;
}
.flags_rw__yggMk {
  background: url(/images/flags.e6454ac1.png) -308px -60px;
}
.flags_sa__VSpmv {
  background: url(/images/flags.e6454ac1.png) -308px -80px;
}
.flags_sb__PJL4s {
  background: url(/images/flags.e6454ac1.png) -308px -100px;
}
.flags_sc__mj4sj {
  background: url(/images/flags.e6454ac1.png) -308px -120px;
}
.flags_sd__zF_Jl,
.flags_ss__XaYej {
  background: url(/images/flags.e6454ac1.png) -308px -140px;
}
.flags_se__N9534 {
  background: url(/images/flags.e6454ac1.png) -308px -160px;
}
.flags_sg__jAhzA {
  background: url(/images/flags.e6454ac1.png) -308px -180px;
}
.flags_sh__fUZu5 {
  background: url(/images/flags.e6454ac1.png) -308px -200px;
}
.flags_si__M1Md6 {
  background: url(/images/flags.e6454ac1.png) -308px -220px;
}
.flags_sk__opfxN {
  background: url(/images/flags.e6454ac1.png) -308px -240px;
}
.flags_sl__QL1WJ {
  background: url(/images/flags.e6454ac1.png) -308px -260px;
}
.flags_sm__w0BnY {
  background: url(/images/flags.e6454ac1.png) -308px -280px;
}
.flags_sn__LpY4m {
  background: url(/images/flags.e6454ac1.png) 0 -300px;
}
.flags_so__M5Afk {
  background: url(/images/flags.e6454ac1.png) -28px -300px;
}
.flags_sr__37zwd {
  background: url(/images/flags.e6454ac1.png) -56px -300px;
}
.flags_st__GAqet {
  background: url(/images/flags.e6454ac1.png) -84px -300px;
}
.flags_sv__k0xxK {
  background: url(/images/flags.e6454ac1.png) -112px -300px;
}
.flags_sy__bcpVo {
  background: url(/images/flags.e6454ac1.png) -140px -300px;
}
.flags_sz__QJ__v {
  background: url(/images/flags.e6454ac1.png) -168px -300px;
}
.flags_tc__B5aV_ {
  background: url(/images/flags.e6454ac1.png) -196px -300px;
}
.flags_td__qOL2H {
  background: url(/images/flags.e6454ac1.png) -224px -300px;
}
.flags_tg__1ofpg {
  background: url(/images/flags.e6454ac1.png) -252px -300px;
}
.flags_th__AcHuX {
  background: url(/images/flags.e6454ac1.png) -280px -300px;
}
.flags_tj__J3Cd5 {
  background: url(/images/flags.e6454ac1.png) -308px -300px;
}
.flags_tl__959Po {
  background: url(/images/flags.e6454ac1.png) -336px 0;
}
.flags_tm__rxsgj {
  background: url(/images/flags.e6454ac1.png) -336px -20px;
}
.flags_tn__EA0ZI {
  background: url(/images/flags.e6454ac1.png) -336px -40px;
}
.flags_to__DFHs6 {
  background: url(/images/flags.e6454ac1.png) -336px -60px;
}
.flags_tr__QL1JL {
  background: url(/images/flags.e6454ac1.png) -336px -80px;
}
.flags_tt__PA8_Z {
  background: url(/images/flags.e6454ac1.png) -336px -100px;
}
.flags_tw__2qjWp {
  background: url(/images/flags.e6454ac1.png) -336px -120px;
}
.flags_tz__k2ldk {
  background: url(/images/flags.e6454ac1.png) -336px -140px;
}
.flags_ua__15T_o {
  background: url(/images/flags.e6454ac1.png) -336px -160px;
}
.flags_ug__a25Fi {
  background: url(/images/flags.e6454ac1.png) -336px -180px;
}
.flags_us__RleCO,
.flags_vi___1T7A {
  background: url(/images/flags.e6454ac1.png) -336px -200px;
}
.flags_uy__lMCPX {
  background: url(/images/flags.e6454ac1.png) -336px -220px;
}
.flags_uz__2DbYR {
  background: url(/images/flags.e6454ac1.png) -336px -240px;
}
.flags_vc__xaPUh {
  background: url(/images/flags.e6454ac1.png) -336px -260px;
}
.flags_ve__8GACi {
  background: url(/images/flags.e6454ac1.png) -336px -280px;
}
.flags_vg__7CSct {
  background: url(/images/flags.e6454ac1.png) -336px -300px;
}
.flags_vn__yA_M_ {
  background: url(/images/flags.e6454ac1.png) 0 -320px;
}
.flags_vu__tdYwT {
  background: url(/images/flags.e6454ac1.png) -28px -320px;
}
.flags_ws__AMQGz {
  background: url(/images/flags.e6454ac1.png) -56px -320px;
}
.flags_ww__L_arg {
  background: url(/images/flags.e6454ac1.png) -84px -320px;
}
.flags_ye__12Z0w {
  background: url(/images/flags.e6454ac1.png) -112px -320px;
}
.flags_za__ik_sm {
  background: url(/images/flags.e6454ac1.png) -140px -320px;
}
.flags_zm__BIGMH {
  background: url(/images/flags.e6454ac1.png) -168px -320px;
}
.flags_zw__eL_qt {
  background: url(/images/flags.e6454ac1.png) -196px -320px;
}
.PhoneNumber_wrapper__bBGqu {
  display: flex;
  flex-direction: column;
  position: relative;
}
.PhoneNumber_main__KWYvw {
  display: flex;
  padding: 8px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dfe1e6;
  height: 44px;
  overflow: hidden;
  align-items: center;
}
.PhoneNumber_main__KWYvw:focus-within {
  border-color: #4a5568;
}
.PhoneNumber_main__filled__AaILa {
  color: #1a202c;
  border-color: #4a5568;
}
.PhoneNumber_main__error__S4ulw {
  border-color: #e95454;
  color: #e95454;
}
.PhoneNumber_main__error__S4ulw:focus-within {
  border-color: #e95454;
}
.PhoneNumber_errorMsg__LHEfK {
  margin-top: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #e95454;
}
.PhoneNumber_number__dkgKW {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 20px;
  letter-spacing: -0.00533333em;
  color: #1a202c;
  padding: 0;
  flex: 1;
}
.PhoneNumber_number__dkgKW::-moz-placeholder {
  color: #b4bac4;
}
.PhoneNumber_number__dkgKW::placeholder {
  color: #b4bac4;
}
.PhoneNumber_number__dkgKW:focus-within {
  outline: none;
}
.PhoneNumber_number__dkgKW[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.PhoneNumber_number__dkgKW[type="number"]::-webkit-inner-spin-button,
.PhoneNumber_number__dkgKW[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .PhoneNumber_number__dkgKW {
    font-size: 14px;
    line-height: 24px;
  }
}
.PhoneNumber_number__error__hXZSn {
  color: #e95454;
}
.PhoneNumber_input__showAsterisk__72JIj {
  position: relative;
  display: inline-block;
}
.PhoneNumber_asterisk__4k6sJ {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #e95454;
  pointer-events: none;
}
